.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .auth-logo {
    transform: scale(1.4);
  }

  .auth-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .auth-tips {
    font-size: 14px;
  }


.auth-error {
    color: #ff5555;  // Light red text for better contrast on dark background
    background-color: rgb(255, 249, 240);;  // Dark background color
    padding-left: 5px;
	padding-right: 5px;
    border-radius: 10px;
    margin-top: 10px;  // Increased top margin
    border: 1px solid #ff5555;  // Light red border
	font-size: 2.2vh;

	display: flex;
	justify-content: center;
	align-items: center;

  }


  .auth-input {
    margin: 3vh 0;
	width: 18vw;
	background-color:rgb(255, 238, 215);
  }

  .auth-subtips{
	span{
		margin: 1vh;
		.link {
			color: inherit; /* Makes the link use the parent text color */
			text-decoration: none; /* Removes default underline from links */
			position: relative; /* Required for positioning the pseudo-element */
			display: inline-block; /* Ensures the pseudo-element aligns correctly */
			transition: color 0.3s ease; /* Transition effect for color */
		}
		
		.link::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background-color: blue; /* Underline color */
			opacity: 0; /* Underline is initially transparent */
			transition: opacity 0.3s ease; /* Transition for the underline's appearance */
		}
		
		.link:hover {
			color: blue; /* Changes color on hover, adjust as needed */
		}
		
		.link:hover::after {
			opacity: 1; /* Makes the underline visible on hover */
		}
		
	}
	font-size: 14px;
	padding-bottom: 4vh;
  }

  .auth-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;

    button:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
