.data-input {
	height: 100%;
	width: 85%;
	border-radius: 10px;
	border: var(--border-in-light);
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.03);
	background-color: var(--white);
	color: var(--black);
	font-family: inherit;
	padding: 10px 90px 10px 14px;
	resize: none;
	outline: none;
	box-sizing: border-box;
	min-height: 68px;
  }
  
  .data-input:focus {
	border: 1px solid var(--primary);
  }

  .knowledge-input {
	height: 40vh;
  }